div.registerForm { /* SELECTOR_CLASS */
  text-align: center !important;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
}

div.signInButton {
  margin: 5px auto;
}

div.signUpButton {
  margin: 5px auto;
}
